LogicApp_AdaptiveCard.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_SalesOrder": {
                "actions": {
                    "Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel": {
                        "inputs": {
                            "body": {
                                "messageBody": "{\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"type\": \"AdaptiveCard\",\n    \"version\": \"1.0\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n             {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"Category: @{items('For_each_SalesOrder')?['MainCategoryName']}\",\n                    \"size\": \"extralarge\",\n                    \"spacing\": \"medium\",\n                    \"wrap\": true,\n\"weight\": \"bolder\"\n                },\n     {\n                    \"type\": \"TextBlock\",\n                    \"text\":\"Product: @{items('For_each_SalesOrder')?['Name']} \",\n                    \"size\": \"large\",\n                    \"wrap\": true\n                },\n     {\n                    \"type\": \"TextBlock\",\n                    \"text\":\"Description: @{replace(items('For_each_SalesOrder')?['Description'], '\"', ' ')} \",\n                    \"size\": \"medium\",\n                    \"wrap\": true\n                },\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \" Sub-Category: @{items('For_each_SalesOrder')?['SubCategoryName']}\",\n  \"size\": \"medium\",\n                    \"wrap\": true\n                },\n               {\n                    \"type\": \"TextBlock\",\n                    \"text\": \" Supplier:  @{items('For_each_SalesOrder')?['SupplierName']}\",\n  \"size\": \"medium\",\n                    \"wrap\": true\n                },\n {\n            \"type\": \"Image\",\n            \"altText\": \"@{items('For_each_SalesOrder')?['Id']}\",\n            \"url\": \"https://sapes5.sapdevcenter.com/@{items('For_each_SalesOrder')?['ImageUrl']}\"\n        }\n     ]\n},\n{\n\t\t\t\"type\": \"FactSet\",\n\t\t\t\"facts\": [\n\t\t\t\t{\n\t\t\t\t\t\"title\": \"Price\",\n\t\t\t\t\t\"value\": \"@{items('For_each_SalesOrder')?['Price']} @{items('For_each_SalesOrder')?['CurrencyCode']}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"title\": \"On stock\",\n\t\t\t\t\t\"value\": \"@{items('For_each_SalesOrder')?['StockQuantity']} @{items('For_each_SalesOrder')?['QuantityUnit']}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"title\": \"Avg. user rating\",\n\t\t\t\t\t\"value\": \"@{items('For_each_SalesOrder')?['AverageRating']}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"title\": \"Weight\",\n\t\t\t\t\t\"value\": \"@{items('For_each_SalesOrder')?['WeightMeasure']} @{items('For_each_SalesOrder')?['WeightUnit']}\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.Submit\",\n            \"title\": \"Buy\",\n\"style\": \"positive\"\n        }\n    ]\n}\n",
                                "recipient": {
                                    "channelId": "19:35db5ffb56fd448684e9bd2d0200cca9@thread.tacv2"
                                }
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/flowbot/actions/adaptivecard/recipienttypes/channel",
                            "queries": {
                                "groupId": "60764139-1951-405a-b5f7-996a9824e43d"
                            }
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Parse_SalesOrderSet')?['d']?['results']",
                "runAfter": {
                    "Initialize_array_for_Products": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "GET_request_to_SAP_Gateway_with_basic_auth": {
                "inputs": {
                    "authentication": {
                        "password": "zB7#1IhZy?FW",
                        "type": "Basic",
                        "username": "S0020313456"
                    },
                    "headers": {
                        "Accept": "application/json;odata=verbose"
                    },
                    "method": "GET",
                    "uri": "https://sapes5.sapdevcenter.com/sap/opu/odata/sap/EPM_REF_APPS_SHOP_SRV/Products?$top=10"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Initialize_array_for_Products": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ArrayProducts",
                            "type": "Array"
                        }
                    ]
                },
                "runAfter": {
                    "Parse_SalesOrderSet": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_SalesOrderSet": {
                "inputs": {
                    "content": "@body('GET_request_to_SAP_Gateway_with_basic_auth')",
                    "schema": {
                        "properties": {
                            "d": {
                                "properties": {
                                    "results": {
                                        "items": {
                                            "properties": {
                                                "AverageRating": {
                                                    "type": "string"
                                                },
                                                "CurrencyCode": {
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "type": "string"
                                                },
                                                "DimensionDepth": {
                                                    "type": "string"
                                                },
                                                "DimensionHeight": {
                                                    "type": "string"
                                                },
                                                "DimensionUnit": {
                                                    "type": "string"
                                                },
                                                "DimensionWidth": {
                                                    "type": "string"
                                                },
                                                "HasReviewOfCurrentUser": {
                                                    "type": "boolean"
                                                },
                                                "Id": {
                                                    "type": "string"
                                                },
                                                "ImageUrl": {
                                                    "type": "string"
                                                },
                                                "Images": {
                                                    "properties": {
                                                        "__deferred": {
                                                            "properties": {
                                                                "uri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "IsFavoriteOfCurrentUser": {
                                                    "type": "boolean"
                                                },
                                                "LastModified": {
                                                    "type": "string"
                                                },
                                                "MainCategoryId": {
                                                    "type": "string"
                                                },
                                                "MainCategoryName": {
                                                    "type": "string"
                                                },
                                                "MeasureUnit": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Price": {
                                                    "type": "string"
                                                },
                                                "QuantityUnit": {
                                                    "type": "string"
                                                },
                                                "RatingCount": {
                                                    "type": "integer"
                                                },
                                                "ReviewAggregates": {
                                                    "properties": {
                                                        "__deferred": {
                                                            "properties": {
                                                                "uri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Reviews": {
                                                    "properties": {
                                                        "__deferred": {
                                                            "properties": {
                                                                "uri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "StockQuantity": {
                                                    "type": "integer"
                                                },
                                                "SubCategory": {
                                                    "properties": {
                                                        "__deferred": {
                                                            "properties": {
                                                                "uri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "SubCategoryId": {
                                                    "type": "string"
                                                },
                                                "SubCategoryName": {
                                                    "type": "string"
                                                },
                                                "Supplier": {
                                                    "properties": {
                                                        "__deferred": {
                                                            "properties": {
                                                                "uri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "SupplierId": {
                                                    "type": "string"
                                                },
                                                "SupplierName": {
                                                    "type": "string"
                                                },
                                                "WeightMeasure": {
                                                    "type": "string"
                                                },
                                                "WeightUnit": {
                                                    "type": "string"
                                                },
                                                "__metadata": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "uri": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "__metadata",
                                                "AverageRating",
                                                "Name",
                                                "Description",
                                                "StockQuantity",
                                                "CurrencyCode",
                                                "DimensionDepth",
                                                "DimensionHeight",
                                                "DimensionUnit",
                                                "DimensionWidth",
                                                "HasReviewOfCurrentUser",
                                                "Id",
                                                "ImageUrl",
                                                "IsFavoriteOfCurrentUser",
                                                "LastModified",
                                                "MainCategoryId",
                                                "MainCategoryName",
                                                "MeasureUnit",
                                                "Price",
                                                "QuantityUnit",
                                                "RatingCount",
                                                "SubCategoryId",
                                                "SubCategoryName",
                                                "SupplierId",
                                                "SupplierName",
                                                "WeightMeasure",
                                                "WeightUnit",
                                                "ReviewAggregates",
                                                "Reviews",
                                                "SubCategory",
                                                "Supplier",
                                                "Images"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "GET_request_to_SAP_Gateway_with_basic_auth": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Terminate": {
                "inputs": {
                    "runStatus": "Succeeded"
                },
                "runAfter": {
                    "For_each_SalesOrder": [
                        "Succeeded"
                    ]
                },
                "type": "Terminate"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 15
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "teams": {
                    "connectionId": "/subscriptions/5ffa3ed8-5cff-4113-89e5-b46fb7df8fb5/resourceGroups/RG_SAP_DEMOS/providers/Microsoft.Web/connections/teams",
                    "connectionName": "teams",
                    "id": "/subscriptions/5ffa3ed8-5cff-4113-89e5-b46fb7df8fb5/providers/Microsoft.Web/locations/westeurope/managedApis/teams"
                }
            }
        }
    }
}